* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    padding-top: 30px;
    margin: 0 auto;
    background-color: #6e87aa;
    min-height: 100vh;
    font-family: sans-serif;
}

.container p {
    margin-top: 10px;
}

.border {
    border-radius: 3px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

.flex label {
    text-align: left;
    margin-bottom: 10px;
}

.flex label span {
    color: green;
}

section {
    width: 500px;
    padding: 10px;
    margin: 0 auto;  
    text-align: center;
    background-color: rgb(241 241 241);
}

fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

legend {
    font-size: 30px;
    text-transform: capitalize;
}

form {
    padding: 20px;
}

.margin {
    margin: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
}

.user-name {
    display: flex;
    justify-content: space-between;
}

.user-name input {
    width: 46%;
}

.btn {
    border: none;
    border-radius: 4px;
    width: 400px;
    padding: 8px 18px;
    background: green;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

.exist-account {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.exist-account span {
    text-decoration: underline;
}